// миксин для подключения шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexboxinline(){display:-webkit-inline-flex;display:inline-flex;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================


//   шрифты ==========================================================================================
@import "fonts";
// шрифты по-умолчанию ===================================================================================
$fontfamily: "Montserrat";


// переменные ===========================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// обнуление ==============================================================================================
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

// =======================================================================================================

// оболочка =========================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  flex-direction:column;
  &.loaded {
  }
}
// основная сетка ==============================================================================
.container {
  max-width: $mw+px;
  margin: 0 auto;
  width: 100%;
  flex: 1 0 218px;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

// ===============================================================================================

// подключение файлов стилей страниц и элементов ======================================================
@import "header";
@import "footer";


// основной блок =====================================================================================
body{
  font-family: "Montserrat", sans-serif ;
}
.content {
  align-content: center;
  flex: 1 1 auto;
  .hi {
    background: #445162;
    display: flex;
    align-items:center;
    .hi__row {
      display: flex;
      justify-content:space-between;
      align-items:center;
      margin: 0 auto;
        .hi__body {
          .hi__title {
            font-size: 60px;
            line-height: 1;
            font-weight: 400;
            color: #ffffff;
            margin: 50px 0px 30px 0px ;
          }
          .hi__list {
            margin: 0 0 50px 0;
            li{
              font-size: 20px;
              margin: 0 0 15px 0;
              font-weight: 400;
              color: #ffffff;
              background: url("../img/flex/check_icon_346.png") left top no-repeat;
              padding: 0 10px 0 40px;
            }
          }
        }
        .hi__image {
          height: 214px;
        }
      }
  }
}

.what {
  flex: 1 0 350px;
  .container {
    .what__row {
      display: flex;
      justify-content:space-between;
      flex-wrap:wrap;
      .what__image {
        margin: 50px;
        img {}
      }
      .what__flex {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #333333;
        flex: 0 0 640px;
        .title {
          margin: 50px 0 25px 0;
          font-size: 30px;
          line-height: 36px;
          font-weight: 400;
          color: #445161;
        }
        .what__text {
          p {
            margin: 0 0 25px 0;
          }
        }
      }
    }
  }
}

.columns {
  background: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  flex-direction: column;
  justify-content:space-between;
  flex: 1 0 490px;

    .columns__title {
      height: 105px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      color: #445161;
      text-align: center;
      padding: 40px;

    }
    .columns__row {
      display: flex;
      flex-wrap: wrap;
      .column {
        width: 590px;
        .item {
          display: flex;
          justify-content: space-between;
          margin: 0 0 30px 0;
          .item__image {
            margin: 5px 0 0 0;
            img {}
          }
          .item__body {
            padding: 0 10px;
            .item__title {
              font-size: 24px;
              line-height: 30px;
              font-weight: 400;
              color: #445161;
            }
            .item__text {}
          }
        }
      }
    }

}

.vertical {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  flex-direction: column;
  padding: 50px 0;
  .container {
    .vertical__title {
      height: 107px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      color: #445161;
      text-align: center;
      padding: 40px;
    }
    .vertical__body {
      .vertical__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .vertical__column {
          width: 300px;
          display: flex;
          .vertical__item {
            border: 2px solid #445162;
            border-radius: 4px;
            background: #445162;
            flex-direction: column;
            display: flex;
            flex-grow:1;
            padding: 0px 0px 20px 0px;
            margin: 0 10px 20px 10px;
            .vertical__subtitle {
              font-size: 24px;
              line-height: 30px;
              font-weight: 400;
              text-transform: uppercase;
              color: #ffffff;
              height: 50px;
              text-align: center;
              padding: 15px 0;
              text-transform: uppercase;
            }
            .vertical__lable {
              background: #ffffff;
              font-size: 40px;
              line-height: 30px;
              font-weight: 400;
              color: #445162;
              height: 70px;
              text-align: center;
              padding: 12px 0;
            }
            .vertical__text {
              flex: 1 1 auto;
              margin: 0px 20px;
            }
            .vertical__btn {
              background: #ffffff;
              font-size: 18px;
              line-height: 18px;
              font-weight: 700;
              color: #445161;
              line-height: 40px;
              text-align: center;
              margin: 0px 20px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}


.footer {
  background: #f5f5f5;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  .footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__text {
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #445162;
    }
  }

}







// подключение файлов ui стилей, форм и готовых классов
@import "forms";
@import "ui";